<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="MvvmCross" version="4.0.0" targetFramework="net452" />
  <package id="MvvmCross.Binding" version="4.0.0" targetFramework="net452" />
  <package id="MvvmCross.Core" version="4.0.0" targetFramework="net452" />
  <package id="MvvmCross.Platform" version="4.0.0" targetFramework="net452" />
  <package id="MvvmCross.Plugin.Messenger" version="4.0.0-beta8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NUnit" version="2.6.0.12054" targetFramework="net452" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="net452" />
</packages>